@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-image: url(../imagenes/fondo.gif);
}

.cabecera { grid-area: header;}
.menu { grid-area: nav;}
.principal { grid-area: main;}
.enlaces { grid-area: aside;}
.pie { grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer';
    gap: 20px;
}

.cabecera {
    padding: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(300, 4%, 7%, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera div {
    margin: 10px;
}
.titulo h1 {
    color: hsla(349, 82%, 48%, 1);
}

.boton_inicio a {
    color: hsla(0, 0%, 100%, 1);
}
.boton_inicio a:hover {
    color: hsla(0, 0%, 100%, 1);
}
.menu   {
    color: hsla(0, 0%, 100%, 1);
    position:fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: hsla(0, 0%, 5%, 1);
    z-index: 1001;
    transition-property:width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.menu a {
    color: hsla(0, 0%, 100%, 1);
}
#cerrar_menu , #mostrar_menu {
    cursor: pointer;
}
.menu #cerrar_menu {
    margin: 10px;
    
}
.menu ul li {
    display: block;
    line-height: 55px;
    font-size: 15px;
    padding-left: 40px;
    box-sizing: border-box;
}
.submenu{
    display: none;
}

li:hover .submenu{
    display: block;
}
input {
    display: none;
}
label #mostrar_menu, label #cerrar_menu {
    width: 25px;
}
#check:checked ~ .menu{
    width: 500px;
}
.principal{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.principal div{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: hsla(300, 4%, 7%, 1);
    border-radius: 10px;
    padding: 25px;
}
.principal img{
    object-fit: cover;
    width: 100%;
    height: 350px;
}
.principal p {
    color: hsla(0, 0%, 100%, 1);
}
.texto {
    padding: 20px;
    background-color: hsla(300, 4%, 7%, 1);
    
}
.principal h2 {
    color: hsla(349, 82%, 48%, 1);
}

.pie {
    color: hsla(0, 0%, 100%, 1);
    position:flex;
    padding: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(300, 4%, 7%, 1);
    text-align: center;
    width: 100%;
    height:auto;
    bottom: 0;
}
.pie div{
    margin-bottom: 10px;
}
.pie div p {
    font-size: 8px;
}
.pie div img{
    width: 25px;
}

.principal > form  input{
    display: inline-block;
}
.formulario {
    background-color: hsla(300, 4%, 7%, 1);
    border-radius: 10px;
    padding: 25px;
}
.formulario  label {
    color: hsla(0, 0%, 100%, 1);
}
input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number],input[type=date] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 40%;
    background-color: hsla(349, 82%, 48%, 1);
    color: hsla(0, 0%, 100%, 1);
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    width: 40%;
    background-color: hsla(349, 82%, 48%, 1);
    color: hsla(0, 0%, 100%, 1);
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button {
    background-color: hsla(349, 82%, 48%, 1);
    color: hsla(0, 0%, 100%, 1);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: hsla(349, 67%, 59%, 1);
  }
  
  .centrado {
      display: flex;
      justify-content: center;
  }
  input[type=submit]:hover {
    background-color: hsla(349, 67%, 59%, 1);
  }
  input[type=reset]:hover {
    background-color: hsla(349, 67%, 59%, 1);
  }
  @keyframes colores{
    0%{color: hsla(349, 82%, 48%, 1)}
    25%{color: hsla(61, 82%, 48%, 1)}
    50%{color: hsla(124, 82%, 48%, 1)}
    75%{color: hsla(225, 82%, 48%, 1)}
    100%{color: hsla(349, 82%, 48%, 1)}
    
}