* {
    color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    background-image: url(../imagenes/fondo.gif);
}

.fondo {
    background-color: hsla(300, 4%, 7%, 1);
    margin-top: 10px;
}
.cabecera {
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(300, 4%, 7%, 1);
    display: flex;
    justify-content: space-between;
}
.cabecera div {
    margin: 10px;
}
.titulo h1 {
    color: hsla(349, 82%, 48%, 1);
}
.menu {
    position:fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: hsla(0, 0%, 5%, 1);
    z-index: 1001;
    transition-property:width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.menu #cerrar_menu {
    margin: 10px;
    
}
.menu ul li {
    display: block;
    line-height: 55px;
    font-size: 15px;
    padding-left: 40px;
    box-sizing: border-box;
}
.submenu{
    display: none;
}

li:hover .submenu{
    display: block;
}
input {
    display: none;
}
label #mostrar_menu, label #cerrar_menu {
    width: 25px;
}
#check:checked ~ .menu{
    width: 500px;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.principal img {
    width: 90%;
    height: auto;
}

.principal h2 {
    color: hsla(349, 82%, 48%, 1);
}
.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.enlaces img {
    width: 50px;
    margin-left: 10px;
    margin-top: 6px;
}
.enlaces p {
    margin-left: 10px;
}
.enlaces div {
    background-color: hsla(300, 4%, 7%, 1);
    border-radius: 10%;
    width: 150px;
    height: 7em;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.pie {
    height: 100px;
}
