@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
* {
    color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-image: url(../imagenes/fondo.gif);
}
a:hover {
    color: hsla(349, 82%, 48%, 1);
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#name {
    margin-right: 10px;
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 25px;

}
.cabecera { grid-area: header;}
.menu { grid-area: nav;}
.principal { grid-area: main;}
.enlaces { grid-area: aside;}
.pie { grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer';
    gap: 20px;
}

.fondo {
    background-color: hsla(300, 4%, 7%, 1);
    margin-top: 10px;
}
/*Cabecera*/
.cabecera {
    padding: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(300, 4%, 7%, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera div {
    margin: 10px;
}
.titulo h1 {
    color: hsla(349, 82%, 48%, 1);
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/*Menu*/
.menu {
    position:fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: hsla(0, 0%, 5%, 1);
    z-index: 1001;
    transition-property:width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
#cerrar_menu , #mostrar_menu {
    cursor: pointer;
}
.menu #cerrar_menu {
    margin: 10px;
    
}
.menu ul li {
    display: block;
    line-height: 40px;
    font-size: 15px;
    padding-left: 40px;
    box-sizing: border-box;
}
.submenu{
    display: none;
    transition: dysplay 2s;
    
}

li:hover .submenu{
    display: block;
    
}
input {
    display: none;
}
label #mostrar_menu, label #cerrar_menu {
    width: 25px;
}
#check:checked ~ .menu{
    width: 500px;
}
/*Ventana principal*/
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.principal img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}
.principal h2 {
    color: hsla(349, 82%, 48%, 1);
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/*Enlaces de acceso rápido*/
.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    
}
.enlaces img {
    width: 75px;
    margin-left: 10px;
    margin-top: 6px;
}
.enlaces a {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.enlaces div {
    display: flex;
    justify-content: center;
    background-color: hsla(300, 4%, 7%, 1);
    border-radius: 10px;
    width: 500px;
    height: 7em;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;

}
/*Pie de página*/
.pie {
    position: flex;
    padding: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsla(300, 4%, 7%, 1);
    text-align: center;
    height:100%;
}
.pie div{
    margin-bottom: 10px;
}
.pie div p {
    font-size: 8px;
}
.pie div img{
    width: 25px;
}
/*adaptabilidad para moviles*/
@media only screen and (max-width: 1333px){
    .enlaces div {
        width: 280px;
    }
}
@media only screen and (max-width: 685px){
    .principal img {
        height: 150px;
    }
    .enlaces {
        justify-content: center;
    }
    .enlaces div {
        width: 100%;
    }
}
/*keyframe para el cambio de colores*/
@keyframes colores{
    0%{color: hsla(349, 82%, 48%, 1)}
    25%{color: hsla(61, 82%, 48%, 1)}
    50%{color: hsla(124, 82%, 48%, 1)}
    75%{color: hsla(225, 82%, 48%, 1)}
    100%{color: hsla(349, 82%, 48%, 1)}
    
}